<div class="jumbotron border text-center m-5 p-5 bg-light">
  <h1 class="text-primary">Calculator on CPU Scheduling Algorithms</h1>
  <div>
    Choose the algorithm from the below options:
    <form id="algorithm" class="mb-5">
      <div class="row">
        <select class="col-6 w-25 mx-auto" id="algorithm" name="algorithm" (click)="getAlgorithm($event.target.value)">
          <option disabled selected value> -- select an option -- </option>
          <option value='fcfs'>FCFS</option>
          <option value='sjf'>SJF</option>
          <option value='priority'>Priority</option>
          <option value='roundrobin'>RoundRobin</option>
        </select>
        <select class="col-6 w-25 mx-auto" id="at" name="at" (click)="getArrivalTime($event.target.value)">
          <option disabled selected value> -- select an option -- </option>
          <option value='T'>With Arrival Time</option>
          <option value='F'>Without Arrival Time</option>
        </select>
      </div>
      
    </form>
    <br>
  </div>
  
  <form [formGroup]="processForm">
    <div *ngIf="selectedAlgo=='roundrobin'" class="form-group">
      <label  for="quantum" class="text-primary h5">Quantum</label>
      <input formControlName="quantum" type="number" name="quantum" class="form-control w-25 mx-auto">
    </div>
    <div formArrayName="burstTime">
      <label for="burstTime" class="text-primary h5">Burst Time :</label>
      <i class="fas fa-plus-circle m-2 fa-lg" (click)="onAddBurstTime()"></i>
      
      <div class="form-group" *ngFor="let bt of processForm.get('burstTime').controls let i =index">
        <div class="row">
          <div class="col-4">
              <h3>P{{i}}</h3>
          </div>
          <div class="col-4">
            <input type="text" placeholder="E.g : 10" [formControlName]="i" class="form-control mb-2">
          </div>
          <div class="col-4">
            <i class="fas fa-minus-circle fa-lg mt-2" (click)="onDeleteBurstTime(i)"></i>
          </div>
        </div>
      </div>
    </div>

    <div formArrayName="priority" *ngIf="selectedAlgo=='priority'">
      <label for="priority" class="text-primary h5">Priority :</label>
      <i class="fas fa-plus-circle m-2 fa-lg" (click)="onAddPriority()"></i>
      
      <div class="form-group" *ngFor="let bt of processForm.get('priority').controls let i =index">
        <div class="row">
          <div class="col-4">
              <h3>P{{i}}</h3>
          </div>
          <div class="col-4">
            <input type="text" placeholder="E.g : 10" [formControlName]="i" class="form-control mb-2">
          </div>
          <div class="col-4">
            <i class="fas fa-minus-circle fa-lg mt-2" (click)="onDeletePriority(i)"></i>
          </div>
        </div>
      </div>
    </div>

    <div formArrayName="arrivalTime" *ngIf="withArrival=='T'">
      <label for="arrivalTime" class="text-primary h5">Arrival burstTime :</label>
      <i class="fas fa-plus-circle m-2 fa-lg" (click)="onAddArrivalTime()"></i>
      
      <div class="form-group" *ngFor="let bt of processForm.get('arrivalTime').controls let i =index">
        <div class="row">
          <div class="col-4">
              <h3>P{{i}}</h3>
          </div>
          <div class="col-4">
            <input type="text" placeholder="E.g : 10" [formControlName]="i" class="form-control mb-2">
          </div>
          <div class="col-4">
            <i class="fas fa-minus-circle fa-lg mt-2" (click)="onDeleteArrivalTime(i)"></i>
          </div>
        </div>
      </div>
    </div>


  </form>
  <button type="button" class="btn btn-primary" (click)="getOutput()">Output</button>
  
</div>

<div *ngIf="onClick" class="jumbotron border text-center m-5 p-5 bg-light">
  <table class="table table-bordered" >
    <tr>
      <td class="text-bold">
        PROCESS ID
      </td>
      <td *ngFor="let i of processId">
        P{{i}}
      </td>
    </tr>
    <tr>
      <td class="text-bold">
        BURST TIME
      </td>
      <td *ngFor="let i of burstTime">
        {{i}}
      </td>
    </tr>
    <tr *ngIf="selectedAlgo=='priority'">
      <td class="text-bold">
        PRIORITY
      </td>
      <td *ngFor="let i of priority">
        {{i}}
      </td>
    </tr>
    <tr  *ngIf="withArrival=='T'">
      <td class="text-bold">
        ARRIVAL TIME
      </td>
      <td *ngFor="let i of arrivalTime">
        {{i}}
      </td>
    </tr>
    <tr>
      <td class="text-bold">
       WAITING TIME
      </td>
      <td *ngFor="let i of waitingTime">
        {{i}}
      </td>
    </tr>
    <tr>
      <td class="text-bold">
        TURNAROUND TIME
      </td>
      <td *ngFor="let i of turnaroundTime">
        {{i}}
      </td>
    </tr>
  </table>
  <h4 class="text-primary mt-3">AVERAGE WAITING TIME</h4><p class="display-6">{{averageWaitingTime}}</p>
  <br>
  <h4 class="text-primary">AVERAGE TURNAROUND TIME</h4><p class="display-6">{{averageTurnaroundTime}}</p>
</div>